html {
    height: 100%;
}

@media (max-width: 420px) {
    .f_PC {
        background: url(../img/f1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
     img {
      height: auto;
      width: 200px;
      margin:auto;
      display: block; 
    }

}

@media (min-width: 420px) {
    .f_PC {
        background: url(../img/fondo2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 105% ;
        background-attachment: fixed;
    }
     img {
      height: auto;
      width: 300px;
      margin:auto;
      display: block; 
    }
}


.error {
    color: red;
}

.right {
	float: right;

}

.centrado {
  float: center;

}

.ovalo {
  height: 60px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: 40%;
  border-radius: 0%;
  background-size: 100% auto;
}



.glylg {
  font-size: 25px;
}


.ze {
  font-size: 20px; 
}

.fr {
	background: red;
}

.licki {
	color: black;
}

.fb {
  background: white;
}


/* __________________________________________ */

.src-image {
  display: none;
}
/* foto pantalla de perfil de usuario _________________________ */
.card {                                                         /**/
  overflow: hidden;                                             /**/
  position: relative;                                           /**/
  border: 1px solid #CCC;                                       /**/
  border-radius: 8px;                                           /**/
  text-align: left;                                             /**/
  padding: 0;                                                   /**/
  background-color:#610533;                                     /**/
  color: rgb(136, 172, 217);                                    /**/
}                                                               /**/
.card .header-bg {                                              /**/
  /* This stretches the canvas across the entire hero unit */   /**/
  position: absolute;                                           /**/
  top: 0;                                                       /**/
  left: 0;                                                      /**/
  width: 100%;                                                  /**/
  height: 50px;                                                 /**/
  border-bottom: 1px #FFF solid;                                /**/
  /* This positions the canvas under the text */                /**/
  z-index: 1;                                                   /**/
}                                                               /**/
.card .avatar {                                                 /**/
  position: relative;                                           /**/
  margin-top: 0px;                                              /**/
  z-index: 100;                                                 /**/
}                                                               /**/
.card .avatar img {                                             /**/
  width: 90px;                                                  /**/
  height: 90px;                                                 /**/
  -webkit-border-radius: 50%;                                   /**/
  -moz-border-radius: 50%;                                      /**/
  border-radius: 50%;                                           /**/
  border: 5px solid rgba(0,0,30,0.8);

}                                                               /**/
/*_________________________________________________________________*/

/*cambiar foto de perfil___________________________________________*/
.card .avatar img:hover {
  
}


/*nombre pantalla de perfil________________________________________*/
#nom-form{
	font-size: 30px;
  font-size: 5vh;
	color: #707070;
	background-color: #FFFFFF;
	border-width:0;
	color: white;
	background: inherit;
	background-color:transparent;
}

/*apellido pantalla de perfil________________________________________*/
#ape-form{
  font-size: 30px;
  font-size: 5vh;
  color: #707070;
  background-color: #FFFFFF;
  border-width:0;
  color: white;
  background: inherit;
  background-color:transparent;
}


/*foto de perfil (miniatura)________________________________________*/
.cardo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
  position: relative;
  margin-top: 20px;
}

.cardo2 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
  position: relative;
}

#user{
  height: 30px;
  line-height: 30px;
}

/*tamaño de checkbox________________________________________________*/
.big-checkbox {width: 18px; height: 18px;}

/*centrar __________________________________________________________*/
.center {
display:block;
text-align:center;
text-decoration:none; 
}


/*dropdown de intereses de viaje____________________________________*/
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
  padding: 3px 175px !important;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
/*________________________________________________________________*/


/*hover editar foto_______________________________________________*/
.box12 {overflow:hidden}
.box12 .icon label {text-align:center;}
.box12 .icon label span{color: red;}
.box12{position:relative}
.box12 .box-content,.box12:after{position:absolute;transition:all .3s ease 0s}

.box12 img{width:100%;height:auto}

.box12 .box-content{width:90px;top:45px;opacity:0;z-index:1}
.box12:hover .box-content{opacity:1}
.box12 .icon label{display:block;width:35px;height:35px;line-height:35px;border-radius:50%;border:0px solid #fff;font-size:18px;color:#fff;margin-right:10px;transition:all .3s ease 0s}
.box12 .icon label:hover{border-radius:0}

}

/* NO BORRAR O SE ROMPE TODO */
.EstiloDeContenedor{}

#mochilaTexto{
  top:20px;
  position: relative;
  background-color: rgba(255,255,255,0.2);
  font-family: Calling Heart;
  color: #5d310e;
  font-size: 40px;
  font-weight: bold;
  border-radius: 4px;
}



.boton-invitado{
  width: 57%;
  left: 20%;
  position: relative;
}


#botonGoogle{
  position: relative;
  left: 30%;
}

#botoncitoMenu{
  position: relative;
  padding: 0;
  margin: 0;
  top:19px;
  background: transparent;
}


/* #cabezalMenu{
  position: relative;
  top: 20px;
}
 */

.menuArriba{
  height: 70px;
  line-height: 70px;
}

.muroDeNoticias{
  //position: relative;
  //width: 100%;
  //left: 5%;
  //margin-top: 30px;
  //height: auto;
  //background-color: red;
  //border-style: solid;
  border-width: 1.5px;
  border-color: #DDDDDD;
  //overflow: auto;
  background-color: rgba(255,255,255,0.3);
}

.noticia{
  position: relative;
  left: 5%;
  /* top: 5%; */
  margin-top: 10px;
  margin-bottom: 10px;
  //height: 38%;
  width: 90%;
  background-color: #DDDDDD;
  text-align: right;
}

.mapa{
  position: relative;
  height: 60%;
  width: 30%;
  right: 0px;
  top:20%;
  right: 10%;
}

.textoViaje{
  position: absolute;
  left: 15%;
  top: 40%;
  font-size: 18px;
  font-family: verdana;
}

.menucito{
  background: url(../img/f2.jpg);
}

.botoncitoBorrable{
  width: 90%;
  left: 5%;
  position: relative;
}

.textoBuscarViajes{
  font-size: 14px;
  height: 36px;
  margin-top: 19px;
}

.botonLoginInvitado{
  position: relative;
  left: 12%;
}

.camara-icono{
  outline: 0;
}

.nombreUsuario{
  position: relative;
  top:7px;
}

#atras{
  margin-bottom: 15px;

}

/*___________________________________________________________________________*/

/*panel amigos/global_________________________________________________________________*/

.nav_muro{
	margin-top: 30px;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}

.pensando{
  position: relative;
  left: 5%;
  /* top: 5%; */
  margin-top: 10px;
  margin-bottom: 10px;
  //height: 100%;
  width: 90%;
  background-color: #DDDDDD;
}


/*___________________________________________________________________*/

/*cuadro publicacion_________________________________________________*/
/* Testimonials */
.testimonials blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    width: 0; 
    height: 0;
  right: 0;
  bottom: 0;
  content: " "; 
  display: block; 
  position: absolute;
    border-bottom: 20px solid #fff;    
  border-right: 0 solid transparent;
  border-left: 15px solid transparent;
  border-left-style: inset; /*FF fixes*/
  border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    //border-style: solid;
    //border-width: 20px 20px 0 0;
    //border-color: #e63f0c transparent transparent transparent;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}

/*______________________________________________________________*/
/*boton compartir*/
.compart {
  margin-bottom: 7px;
}
/*comentario*/
.coment {
  margin-right: 12px;
  margin-left: 15px;
  text-align: left;
}

/* MAQUETADO DEL MAPA */

.contenedorMapa{
  position: relative;
  bottom: 15px;
}

.botonAntSig{
  width: 100px;
}

.boton-siguiente{
  float: right;
}

.divDeEscala{
  position: absolute;
  top: -10px;
 
}

.marco_escala{
  width: 60%;
  margin-left: 20%;
}

.divDeEscalaInput{
  margin-top: 10px;
}

.contenedorEscala{
  position: relative;
  top: -15px;
  text-align: center;
}

.negrita{
  font-weight: bold;
}

.divInputViaje{
  position: relative;
  top: 10px;
  width: 92%;
  left: 4%;
  background-color: red;
}

.inputsDivsViaje{
  float: left;
  width: 50%;
  height: 30px;
  text-align: right;
  font-weight: bold;
  /* background-color: green; */
}

.textoDivsViajes{
  position: relative;
  right: 6px;
}

.inputViaje{
  width: 60%;
  position: relative;
  right: 0px;
  float: right;
  height: 27px;
}

.floatRight{
  float: right;
}

.intereses{
  /* background-color: white; */
  height: 100px;
  position: relative;
  top:5px;
}

.interes{
  font-weight: bold;
  /* background-color: green; */
  //text-align: center;
  width: 33%;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
}

.interesInside{
  width: 70%;
  position: relative;
  left: 25%;
}

.checkInteres{

}

#buscar{
  position: relative;
  top: 10px;
}

.sinotifi{
  position: fixed;
  bottom: 0px;
  right: 0px;
  opacity: 1;
}
.nonotifi{
  position: fixed;
  bottom: 0px;
  right: 0px; 
  opacity: 0;
}

.campanita{
  font-size: 50px;
  color: red;
  margin-right: 15px;
  margin-bottom: 15px;
}

.numleft{
  float: left;
  margin-top: 20px;

}

.borderojo {
    outline: none;
    border: 1px solid #f00 !important;
}
.bordegris { border: 1px solid #d4d4d; }

.abajo{
  margin-top: 17px;
}

.p_coment{
  word-wrap: break-word;
}

.alto{
  height: 100%;
}

@media (max-width: 550px) {
    #con-form {
        height: 55px;
    }
}

@media (min-width: 550px) {
    #con-form {
        height: 35px;
    }
}

.botonBuscarFondoPantalla{
  margin-bottom: 30px;
}

#mapaGoogle{
  height: 515px;
}

.divInfoWindow{
  text-align: center;
  font-weight: bold;
  line-height: 1.3;
}

.mensajeErrorCoincidencias{
  color: red;
  font-weight: bold;
}

.btn-agregar-viaje{

}

.escalaYTitulo{
  height: 180px;
  text-align: center;
}

.inputEscala{
  width: 30%;
  margin: auto;
}

.inputTitulo{
  width: 50%;
  margin: auto;
}