body{
    background: url(../img/tulo.jpg);
    background-repeat: no-repeat;
    background-size: 414px 736px;
}

.error {
    color: red;
}

.right {
	float: right;

}

.center {
  display: flex;
  justify-content: center;
}

.ovalo {
  height: 30px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.glylg {
  font-size: 25px;
}


.ze {
  font-size: 20px; 
}

.fr {
	background: red;
}

.licki {
	color: white;
}

.fb {
  background: white;
}


/* __________________________________________ */

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: left;
  padding: 0;
  background-color:#610533;
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 0px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}



#nom-form{
	font-size: 30px;
  font-size: 7vw;
	color: #707070;
	background-color: #FFFFFF;
	border-width:0;
	color: white;
	background: inherit;
	background-color:transparent;
}





.cardo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}


.big-checkbox {width: 18px; height: 18px;}